<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hybrid.freeopensourceusers">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ApplicationContext.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:authorities="com.hybrid.freeopensourceusers.SearchStuffs.SearchableProvider"
            android:name=".SearchStuffs.SearchableProvider"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".Activities.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


            <meta-data android:name="android.app.default_searchable"
                android:value=".SearchStuffs.SearchableActivity"/>


        </activity>
        <activity android:name=".Activities.New_Post">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <android:data
                    android:host="www.youtube.com"
                    android:mimeType="text/*" />
                <android:data
                    android:host="www.facebook.com"
                    android:mimeType="text/*" />
            </intent-filter>
            <!-- Added intent filter for handling incoming Texts, Single and Multiple Images - Starts here -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <android:data android:mimeType="text/plain" />
                <android:data
                    android:host="www.youtube.com"
                    android:mimeType="text/*" />
                <android:data
                    android:host="www.facebook.com"
                    android:mimeType="text/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.Comment_Actiivity" >


        </activity>
        <activity android:name=".Activities.WebViewActivity" />
        <activity android:name=".UserProfileStuff.UserProfile" />
        <activity
            android:name=".Activities.session_details"
            android:theme="@style/SessionFitSystem" />

        <service android:name=".Services.MyFireBaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Activities.new_session_add" />

        <service android:name=".Services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Services.MyFireBaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Activities.RegisterActivity" />
        <activity android:name=".SearchStuffs.SearchableActivity">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>

            <!--<meta-data android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value=".Activities.FirstActivity"/>-->

        </activity>
    </application>

</manifest>